.wrapper {
    max-width: 70rem;
    margin: 2rem auto;
    padding: 0 1rem;

    display: grid;
    grid-template-columns: 256px 1fr;
    gap: 2rem;
    align-items: flex-start;
}

/* Responsivo para tablets e telas menores */
@media (max-width: 1024px) {
    .wrapper {
        grid-template-columns: 200px 1fr; /* Reduz a largura da sidebar */
        gap: 1.5rem;
    }
}

/* Responsivo para celulares */
@media (max-width: 768px) {
    html{
        font-size: 87.5%;
    }
    .wrapper {
        grid-template-columns: 1fr; /* Empilha os elementos em coluna */
        gap: 1rem;
    }
}
